<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{../styles/index.css}">
    
</head>
<body>
<header>
    <h1>Login</h1>
</header>

<main>
    <form action="/authorize_login" method="post">
        <label for="username">Brugernavn:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Adgangskode:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Log ind">
    </form>
</main>

<footer>
    &copy; 2024 Magical Wishlist. All rights reserved.
</footer>

</body>
</html>
