<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>

</head>
<body>
<h1>Update Wishlist</h1>
<form th:action="@{/wishlist/update/{id}(id=${wishlist.id})}" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:value="${wishlist.name}">
    </div>
    <input type="hidden" name="id" th:value="${wishlist.id}">
        <input type="hidden" name="id" th:value="${wishlist.id}">
    <div>
        <button type="submit">Insert</button>
        <button form="cancel" type="submit">Cancel</button> <!--ligger den inde i form med submit knap, men referer tilbage til cancel form via id "cancel"-->
    </div>
</form>
<form action="/" method="get" id="cancel"></form> <!
</body>
</html>
