<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ønskeseddel Applikation</title>
</head>
<body>
<header>
    <h1>Min Ønskeseddel</h1>
    <nav>
        <ul>
            <li th:each="wish : ${wishes}">
                <span th:text="${wish.}"></span>
            </li>

            <li><a th:href="@{/}">Forside</a></li>
            <li><a th:href="@{/wishlist}">Min Ønskeseddel</a></li>
            <li><a th:href="@{/create-wish}">Opret Ønske</a></li>
            <li><a th:href="@{/edit-wish}">Rediger Ønske</a></li>
            <li><a th:href="@{/share-wishlist}">Del Ønskeseddel</a></li>
            <li><a th:href="@{/search-wishlist}">Søg i Ønskeseddel</a></li>
            <li><a th:href="@{/logout}">Log ud</a></li>
        </ul>

        <tr th:each="movie : ${movies}"> <!--hvad er $?-->
            <td th:text="${movie.id}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.releaseYear}"></td>
            <td th:text="${movie.description}"></td>
            <td th:text="${movie.tags}"></td>
            <td>


    </nav>
</header>

<main>
    <ul>
        <li>Ønske 1</li>
        <li>Ønske 2</li>
        <li>Ønske 3</li>
        <li>Ønske 4</li>
        <li>Ønske 5</li>
        <li>Ønske 6</li>


    </ul>

</main>

<footer>

</footer>

</body>
</html>