<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist overview</title>
</head>
<body>
<header>
    <div th:insert="~{home/fragments/navbar::navbar}"></div>
    <h1>Your wishlists</h1>
</header>

<table>
    <tr>
        <th>Name</th> <th>Creation Date</th>
    </tr>
    <tr th:each="wishlist : ${wishlists}">
        <td>
            <a th:href="@{/wishlist/{id}(id=${wishlist.id})}" th:text="${wishlist.name}"></a>
        </td>
        <td th:text="${#dates.format(wishlist.creationDate, 'dd-MM-yyyy')}"></td>
    </tr>
</table>
<a th:href="@{/wishlist/new}">
    <button type="button"> New Wishlist </button> <!--ikke rør den er korrekt-->
</a>
</body>
</html>